Django==4.0.2
djangorestframework==3.13.1
Markdown==3.0.0
django-filter==1.0.1
django-cors-headers==3.13.0
Pygments==2.12.0
django-configurations==2.1

# For the persistence stores
psycopg2===2.9.3
# psycopg2-binary==2.7.7
# dj-database-url==0.5.0

# Celery
# celery==4.4.1
# flower==0.9.7

# Redis
# redis==3.2.0
# django-redis==4.10.0
